{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container mt-l">

<h1>Welcome to my Convolutional Neural Network (CNN) machine learning classification app.</h1>
<br>
<p>As a type of Neural Network, CNN is suitable for doing deep learning with images. In this website, you can try to upload images to make some predictions.</p>
<br>
<p>Several models are trained based on UTKFace, MNIST and Cifar-10 dataset, feel free to upload some images and see how the trained models perform.</p>
<hr>

</div>
{% endblock %}
